In [1]:
from pathlib import Path
import pandas as pd
import numpy as np

In [2]:
BRAZIL_DIR = Path.cwd() / 'brazil_data'

In [3]:
COORDS = [(-5.141658, -40.916180)]

In [4]:
year_dfs = []
for year in range(2017, 2023):
    year_dfs.append(
        pd.read_parquet(BRAZIL_DIR / f'{year}_convective_precipitation.parquet')
    )

In [5]:
data_df = pd.concat(year_dfs, axis=0)
del year_dfs

In [6]:
data_df

                            1
datetime
2017-01-01 00:00:00  0.000000
2017-01-01 01:00:00  0.000000
2017-01-01 02:00:00  0.000000
2017-01-01 03:00:00  0.000000
2017-01-01 04:00:00  0.000000
...                       ...
2022-12-31 19:00:00  0.000008
2022-12-31 20:00:00  0.000005
2022-12-31 21:00:00  0.000002
2022-12-31 22:00:00  0.000000
2022-12-31 23:00:00  0.000000

[47400 rows x 1 columns]

In [10]:
# group by day
day_data_df = data_df.groupby(pd.Grouper(freq='D')).mean()

In [15]:
# add lat lon
day_data_df['lat'] = np.array(
    [COORDS[0][0] for i in list(day_data_df.index)]
)
day_data_df['lon'] = np.array(
    [COORDS[0][1] for i in list(day_data_df.index)]
)

In [17]:
day_data_df = day_data_df.rename(columns={'1': 'convective_precipitation_meters'})
day_data_df

            convective_precipitation_meters       lat       lon
datetime
2017-01-01                     9.039526e-06 -5.141658 -40.91618
2017-01-02                     1.662221e-05 -5.141658 -40.91618
2017-01-03                     2.348056e-05 -5.141658 -40.91618
2017-01-04                     1.970350e-05 -5.141658 -40.91618
2017-01-05                     2.283793e-07 -5.141658 -40.91618
...                                     ...       ...       ...
2022-12-27                     2.669969e-05 -5.141658 -40.91618
2022-12-28                     7.889757e-07 -5.141658 -40.91618
2022-12-29                     4.030970e-05 -5.141658 -40.91618
2022-12-30                     3.512870e-05 -5.141658 -40.91618
2022-12-31                     1.105895e-05 -5.141658 -40.91618

[2191 rows x 3 columns]

In [20]:
# save to csv
OUT_DIR = Path(
    'M:\Proposals\Proposals_2022\Small_Proposals\Associacao_Caatinga_Brazil'
)
day_data_df.to_csv(OUT_DIR / 'brazil_precip_data_pull.csv')

: